/* base styles */
@mixin trans {
  -webkit-transition: all 0.3s ease;
  transition: all 0.5s ease;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Dosis';
  @include trans;
  &:before, &:after {
    box-sizing: border-box;
  }
}

@mixin border-radius {
  border-radius: 3px;
}
html, body {
  height: 100%;
  background:#fff;
  @include trans;
  margin:0;
  font-family: sans-serif;
}
img {
  max-width: 100%;
  display: inline-block;
}

a {
  color: $green;
  border-bottom:2px solid $green;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}


.fixIt{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.strip{
	width:100%;
  display: table;
  height: 500px;
	.strip-inner{
		display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none;
    img{
      padding:30px;
      max-height: 250px;

    }
    h1{
      color:#F0EEF4;
      margin-top: 5px;
    }
    span{
      font-size: 25px;
      font-weight: 600;
      color: #E0DBE9;
      line-height: 1.2em;
      font-family: 'Raleway';
      @include media-query (xxs-max) {
        font-size: 16px;
      }
    }
	}
}
.text-center{
	text-align: center;
}
img{
	max-width: 100%;
}
.purple{
	background: $purple;
}

.tab-content.top-margin{
  margin-top:250px;
  }
  .tab-content{
  margin-top:650px;
  }

  .col-md-4{
    margin-bottom:20px;
  }

  .section-margin{
    margin-bottom: 35px;
  }